.ProfileContent {
    height: 100vh;
    background-color: #e8e8e8;
    position: relative;
}

.Profile {
    margin-top: 50px;
    float: left;
}

.Profile p {
    margin-bottom: 10px;
}

.Profile a:link,
.Profile a:visited {
    text-decoration: none;
    color: #555;
    transition: color 0.2s;
    font-weight: bold;
    display: block;
}

.Profile a:hover,
.Profile a:active {
    color: #000000;
}

.ProfileImage {
    width: 50%;
    height: auto;
    min-width: 400px;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: 1024px) {
    .ProfileImage {
        width: 430px;
        height: auto;
    }

    .Profile {
        margin-top: 0px;
    }
}


@media only screen and (max-width: 1024px)
and (orientation: portrait) {
    .ProfileContent {
        height: 50vh;
    }
}


@media only screen and (max-width: 768px) {

    .ProfileContent {
        display: flex;
        flex-direction: column;
        justify-items: center;
        position: static;
        padding-bottom: 0px;
        height: auto;
    }

    .Profile {
        margin-top: 0px;
        margin-left: 0px;
        min-width: 300px;
    }

    .ProfileImage {
        margin-top: 10px;
        min-width: unset;
        width: 100%;
        height: auto;
        position: relative;
    }

    .Profile h1,
    .Profile h2,
    .Profile p {
        text-align: center;
    }

    .ProfileContent a:link,
    .ProfileContent a:visited {
        text-align: center;
    }
}
