.AboutContent {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.About {
    margin-bottom: 60px;
}

.Experience {
    width: 80%;
    margin-bottom: 60px;
}

.ExperienceDetail {
    display: flex;
}

.ExperienceDetail_Image img {
    height: 60px;
    width: 60px;
}

.ExperienceDetail_Detail {
    margin-left: 20px;
}

.Experience .Subtitle{
    color: #1a1a1a;
}

.Experience .Note {
    font-size: 0.9em;
}

.Timeline {
    background-color: #f4f4f4;
    height: 100px;
    margin: 0 auto;
}

.Languages div {
    margin-bottom: 10px;
}


@media only screen and (max-width: 1024px) {
    .AboutContent {
        min-height: unset;
    }
}

@media only screen and (max-width: 768px) {
    .Timeline {
        width: 100%;
    }

    .About {
        margin-bottom: 40px;
    }

    .Experience {
        width: 100%;
        margin-bottom: 40px;
    }

}
