.AboutContent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.AboutContent div {
    margin-bottom: 20px;
}


.Education div,
.Languages div {
    margin-bottom: 10px;
}

.Education p:last-child {
    font-style: italic;
}

@media only screen and (max-width: 1024px) {
    .AboutContent {
        height: auto;
    }

}