.ContactContent {
    height: 100vh;
}

.Map {
    border: 5px solid #ffffff;
    width: 500px;
    height: 350px;
    display: block;
    margin-bottom: 30px;
}

.ContactInfo {
    margin-bottom: 30px;
}

.ContactInfo p {
    margin-bottom: 10px;
}

.ContactInfo p span {
    font-weight: bold;
}

.ContactInfo a:link,
.ContactInfo a:visited {
    text-decoration: none;
    color: #5f87bf;
    transition: color 0.2s;
}

.ContactInfo a:active,
.ContactInfo a:hover {
    color: #3e659c;
}

@media only screen and (max-width: 1024px) {
    .ContactContent {
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    .Map {
        width: 350px;
        height: 235px;
    }
}

@media only screen and (max-width: 480px) {
    .Map {
        width: 250px;
        height: 175px;
        border: 2px solid #ffffff;
    }
}