.Body {
}

.Header {
    background-color: #191919;
    position: fixed;
    height: 100%;
    min-width: 350px;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Content {
    margin-left: 350px;
    background-color: #f4f4f4;
}

@media only screen and (max-width: 1023px) {
    .Header {
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .Content {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 767px) {
    .Header {
        position: relative;
        flex-direction: column;
        justify-content: center;
    }
}



