.NavigationItems {
    list-style: none;
    width: 200px;
    margin: 0 auto;
}

@media only screen and (max-width: 1023px) {
    .NavigationItems {
        width: auto;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .NavigationItems {
        width: 200px;
        margin: 0 auto;
        text-align: center;
    }
}