* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f4f4f4;
  color: #555;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

section {
  padding: 50px 0;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 2.4em;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 1.8em;
  word-spacing: 2px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 1.1em;
}

section {
  padding: 50px 5% 0px 5%;
}

/*Big tablet to 1200px */
@media only screen and (max-width: 1200px) {
}

/*Small tablet to big tablet: from 768px to 1023px*/
@media only screen and (max-width: 1023px) {
  body {font-size: 18px;}
}

/*Small phones to small tablets*/
@media only screen and (max-width: 767px) {
  body {font-size: 16px;}
}

/*Small phones: from 0 to 480px*/
@media only screen and (max-width: 480px) {
}























