* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f4f4f4;
  color: #555;
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 160%;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  z-index: -2;
  position: relative;
}

h1 {
  font-size: 6em;
  margin-bottom: 70px;
  margin-top: 50px;
  word-spacing: 4px;
  letter-spacing: 1px;
  color: #444;
}

h2 {
  font-size: 1.8em;
  word-spacing: 2px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

h3 {
  font-size: 1.1em;
  margin-bottom: 5px;
}

section {
  padding: 40px 10% 40px 10%;
}

/*Big tablet to 1200px */
@media only screen and (max-width: 1200px) {
}

/*Small tablet to big tablet: from 768px to 1024px*/
@media only screen and (max-width: 1024px) {
}

/*Small phones to small tablets*/
@media only screen and (max-width: 768px) {

  body {font-size: 16px;}

  h1 {
    font-size: 4em;
  }

  section {
    padding: 30px 10% 30px 10%;
  }
}

/*Small phones: from 0 to 480px*/
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  h2 {
    font-size: 1.3em;
  }
}























