.PositiveSentence {
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 5%;
    opacity: 0.8;
    transition: opacity 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.PositiveSentence:hover {
    opacity: 1;
}

.Sentence {
    font-size: 0.9em;
    word-break: break-all;
    display: inline-block;
}

.Name {
    font-size: 0.9em;
    text-align: end;
    margin-top: 10px;
    font-style: italic;
}