.HobbyContent {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../../assets/images/magic.jpg") ;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.HobbyContent div:first-child {
    margin-bottom: 30px;
}

.VideoContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.VideoContent iframe{
    margin: 0px 30px 30px 0px;
}

.HobbyContent h2 {
    text-align: center;
    text-transform: uppercase;
}

.HobbyContent h2:after {
    display: block;
    height: 2px;
    background-color: white;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.HobbyContent p {
    text-align: justify;
}

@media only screen and (max-width: 1024px) {
    .HobbyContent {
        justify-content: flex-start;
    }

    .HobbyContent {
        min-height: unset;
    }

}


@media only screen and (max-width: 480px) {

    .VideoContent {
        flex-direction: column;
        align-items: center;
    }

    .VideoContent iframe {
        margin-bottom: 30px;
        margin-right: 0px;
    }

    .HobbyContent p {
        text-align: center;
    }
}